{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="author" content="">
{% block extra-meta %}{% endblock %}
<link rel="icon" href="{% static 'zipcode/images/favicon.ico' %}">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans" >
<link rel="stylesheet" type="text/css" href="{% static 'zipcode/css/bootstrap.min.css' %}" >
<link rel="stylesheet" type="text/css" href="{% static 'zipcode/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'zipcode/css/calendar.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'zipcode/js/jquery-ui-1.9.2.custom/css/ui-lightness/jquery-ui-1.9.2.custom.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'zipcode/css/main.css' %}" >
<link rel="stylesheet" type="text/css" href="{% static 'zipcode/css/normalize.min.css' %}" >
<link rel="stylesheet" type="text/css" href="{% static 'zipcode/css/font-awesome.min.css' %}" >


{% block extra-css %}{% endblock %}
<!--<link href="{% static 'zipcode/css/jquery.mobile-1.4.5.css' %}" rel="stylesheet">-->

<script src="{% static 'zipcode/js/jquery-2.1.1.js' %}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-53569941-1', 'auto');
  ga('send', 'pageview');
</script>
<title> {% block title %}{% endblock %} </title>
</head>
<body>
{% block nav %}{% endblock %}
{% block content %}
  {% load staticfiles %}
{% endblock %}
{% load zipcode_extras %}
{% include "footer.html" %}
</div>
<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'zipcode/js/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.js' %}"></script>
<script src="{% static 'zipcode/js/bootstrap.js' %}"></script>
<script src="{% static 'zipcode/js/animatescroll.js' %}"></script>
<script src="{% static 'zipcode/js/main.js' %}"></script>
<script src="{% static 'zipcode/js/plugins.js' %}"></script>
<script src="{% static 'zipcode/js/vendor/modernizr-2.8.3.min.js' %}"></script>
<!--<script src="{% static 'zipcode/js/jquery-mobile/jquery.mobile-1.4.5.js' %}"></script>-->
<!--<script src="{% static 'zipcode/js/calendar.js' %}"></script>-->
{% block extra-javascript %}{% endblock %}
</body>
</html>

