{% extends "base.html" %}
{% block extra-meta %}
{% load zipcode_extras %}
<meta name="keywords" content="at home services,{% for i in testimonials %} {{i.hashtags | remove_hashtags }} {% endfor %}">
<meta name="description" content="{% for i in testimonials %} {{i.customer_testimonial }} {% endfor %}  ">
{% endblock %}

{% block title %} {% for i in con %} {{ i.firstname| title }} {{i.lastname| title}} {% endfor %}{% endblock %}
{% load staticfiles %}
{% block nav %}
<div class="header">
    <div>
        <img class="home-header" src="{% static 'zipcode/images/spring_banner2.jpg' %}">
    </div>
</div>

<nav class="navbar navbar-default">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class="active" href="/">Home</a></li>
        <li><a href="value">Value Care</a></li>
        <li><a href="careers">Careers</a></li>
        <li><a href="gallery">Gallery</a></li>   
      </ul>     
    </div><!-- /.navbar-collapse -->
</nav>
{% endblock %}
{% block content %}
{%  for i in con %}
<div id="wrapper">
    <div id="sidebar-wrapper">
        <h3 id="schedule">MY SKILLS</h3>
        <h4>{{ i.trade }}</h4>
        <h4>{{ i.secondaryTrades }}</h4>
        
    </div>
    <div id="sidebar-ad">
        <h3>HAVE AN EMERGENCY?</h3>
        <H5>Call us directly at</H5>
        <H3>801-933-4663</H3>
    </div>
    <div id="page-content-wrapper">
        <div class="page-content">
			<div class="row container">
				<div class="row">
					<div class="col-lg-6">
						<img class="profile-pic" src="/media/{{i.pic}}">
						<h2 class="profile-name">{{ i.firstname | capfirst}} {{ i.lastname | capfirst }}, {{ i.trade | capfirst}}</h2>
					</div>
					<div class="col-lg-6">
						<img class="home-header" src="{% static 'zipcode/images/logo.jpg' %}">
						<p class="contractor-bio">{{ i.bio }}</p>
					</div>
				</div>

                <div class="row">
                    <div class="col-lg-12">
                        <h1>{{ i.firstname | capfirst}}'s Calendar</h1>
                        <a href="{% url 'schedule' %}">Schedule an Event</a>
                        <div class="btn-group" role="group" aria-label="...">
                          <button type="button" id="left-click" class="btn btn-default">
                            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                          </button>
                          <button type="button" id="right-click" class="btn btn-default">
                            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                          </button>
                        </div>
                        <div>
                        <span id="nomonth"></span>
                        </div>                      
                        {{ htmlcalendar | safe}} 
                    </div>
                    
                </div>
			</div>
		</div>
	</div>
{% endfor %}
<div class="row container">
    <div class="row">
        <h1 class="monthly">Testimonials</h1>    
    </div>
    {% for i in testimonials %}
        {% if forloop.first %}
          <div class="row">
            <div>
                <img src="/media/{{i.job_pic}}" alt="job pic" height="200" width="200">
            </div>
            
            <div>
                <a href="{{i.job_pic_url}}">view source...</a>
            </div>

            <div>
                <span class="hashtags">{{i.hashtags}}</span>
            </div>
            
            <div>
                <span class="socialtags">{{i.socialtags}}</span>
            </div>

            <div class="col-lg-6 testimonials">
                <p>{{ i.customer_testimonial }}
                <BR><BR>-{{ i.customer_name }} from {{ i.customer_city }} on {{ i.customer_date }}</p>
            </div>
          {% else %}
             <div>
                <img src="/media/{{i.job_pic}}" alt="job pic" height="200" width="200">
            </div>
            
            <div>
                <a href="{{i.job_pic_url}}">view source...</a>
            </div>

            <div>
                <span class="hashtags">{{i.hashtags}}</span>
            </div>
            
            <div>
                <span class="socialtags">{{i.socialtags}}</span>
            </div>

            <div class="col-lg-6 testimonials">
                <p>{{ i.customer_testimonial }}
                <BR><BR>-{{ i.customer_name }} from {{ i.customer_city }} on {{ i.customer_date }}</p>
            </div>                 

        {% endif %}
        </div>
    {% endfor %}
    <div>
      <form id="schedule-form" action="/testimonial_post/{% for i in con %}{{i.id}}{% endfor %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ testimonial_form }}
        <input type="submit" id="testimonial-submit"value="Submit" />
      </form>
    </div>

</div>
{% endblock %}

{% block extra-javascript %}
<script type="text/javascript">
$( document ).ready(function() {
  var monthMapper = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]; 
  $.CurrentMonth = new Object();
  var contractorID = {%  for i in con %} "{{i.id | safe}}" {% endfor %}; 
  
  $('#left-click').click(function() {    
      var thismonth    = $(".month th").first().text().split(" ")[0].trim();
      var currentyear  = $(".month th").first().text().split(" ")[1] ;
      $.CurrentMonth.m = monthMapper.indexOf(thismonth) +1;            
      var currentMonthString = $.CurrentMonth.m.toString();
      $.ajax({
          url: String("/"+ contractorID +"/"+ currentyear +"/"+ currentMonthString ),           
          method: 'GET',
          data: {
              currentyear: currentyear, 
              currentmonth: currentMonthString,
              id: contractorID,
          },
          success: function (data) {        
              if(data != 'None' && data != ""){
                  $(".month").replaceWith(data);
                  $("#nomonth").text("");
              }                                   
          },
          error: function (jqXHR, error) {
                var lastmonth = monthMapper.indexOf(thismonth) -1;
                $("#nomonth").text("No events for "+ monthMapper[lastmonth] +" to display");
          }
      });
  });

  $('#right-click').click(function() {    
      var thismonth    = $(".month th").first().text().split(" ")[0].trim();
      var currentyear  = $(".month th").first().text().split(" ")[1] ;
      $.CurrentMonth.m = monthMapper.indexOf(thismonth) +1;
      var currentMonthString = $.CurrentMonth.m.toString();
      $.ajax({
          url: String("/"+ contractorID +"/"+ currentMonthString + "/" + currentyear ),
          method: 'GET', 
          data: {
              currentyear: currentyear,               
              currentmonth: currentMonthString,
              id: contractorID,
          },
          success: function (data) {        
              if (data != 'None' && data != ""){
                  $(".month").replaceWith(data);
                  $("#nomonth").text("");
              }        
          }
      });
  });
/*
    $.Htags = [];
   $.Stags = [];
   var hashtags = $('.hashtags').text().split(', ');
   var socialtags = $('.socialtags').text().split(', ');

   $.each(hashtags, function (i,v) {
        $.Htags.push('<a href="' + v + '" class="hashtags">' + v + '</a>');
    })
    $.each(socialtags, function (i,v) {
        $.Stags.push('<a href="' + v + '" class="socialtags">' + v + '</a>');
    });    

    $('.hashtags').replaceWith($.Htags.join(', '));
    $('.socialtags').replaceWith($.Stags.join(', '));
    var ht = $('.hashtags').text().split('#');
    var st = $('.socialtags').text().split('@');
    $('[name="keywords"]').attr('content', function(i,oldval){return oldval + ht + st});
    var descrip = $('.description').text();
    $('[name="description"]').attr('content', function(i,oldval){return oldval + descrip });
*/
 

});
</script>
{% endblock %}
