{% extends "base.html" %}
{% block title %} {% for i in con %} {{ i.firstname| title }} {{i.lastname| title}} {% endfor %}{% endblock %}
{% load staticfiles %}
{% block nav %}
<div class="header">
    <div>
        <img class="home-header" src="{% static 'zipcode/images/spring_banner2.jpg' %}">
    </div>
</div>

<nav class="navbar navbar-default">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class="active" href="/">Home</a></li>
        <li><a href="value">Value Care</a></li>
        <li><a href="careers">Careers</a></li>
        <li><a href="gallery">Gallery</a></li>   
      </ul>     
    </div><!-- /.navbar-collapse -->
</nav>
{% endblock %}
{% block content %}
{%  for i in con %}
<div id="wrapper">
    <div id="sidebar-wrapper">
        <h3 id="schedule">MY SKILLS</h3>
        <h4>{{ i.trade }}</h4>
        <h4>{{ i.secondaryTrades }}</h4>
        
    </div>
    <div id="sidebar-ad">
        <h3>HAVE AN EMERGENCY?</h3>
        <H5>Call us directly at</H5>
        <H3>801-933-4663</H3>
    </div>
    <div id="page-content-wrapper">
        <div class="page-content">
			<div class="row container">
				<div class="row">
					<div class="col-lg-6">
						<img class="profile-pic" src="/media/{{i.pic}}">
						<h2 class="profile-name">{{ i.firstname | capfirst}} {{ i.lastname | capfirst }}, {{ i.trade | capfirst}}</h2>
					</div>
					<div class="col-lg-6">
						<img class="home-header" src="{% static 'zipcode/images/logo.jpg' %}">
						<p class="contractor-bio">{{ i.bio }}</p>
					</div>
				</div>

                <div class="row">
                    <div class="col-lg-12">
                        <h1>{{ i.firstname | capfirst}}'s Calendar</h1>
                        <a href="{% url 'schedule' %}">Schedule an Event</a>
                        <div class="btn-group" role="group" aria-label="...">
                          <button type="button" id="left-click" class="btn btn-default">
                            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                          </button>
                          <button type="button" id="right-click" class="btn btn-default">
                            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                          </button>
                        </div>                      
                        {{ htmlcalendar | safe}} 
                    </div>
                    
                </div>
			</div>
		</div>
	</div>
{% endfor %}
{% endblock %}

{% block extra-javascript %}
<script type="text/javascript">
$( document ).ready(function() {
  
  var monthMapper = [ "January", "Febuary", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]; 

  //var thismonth    = $(".month th").first().text().split(" ")[0].trim();
  //var currentyear  = $(".month th").first().text().split(" ")[1] ;
  $.CurrentMonth = new Object();
  //$.CurrentMonth.m = monthMapper.indexOf(thismonth) +1;
  var contractorID = {%  for i in con %} "{{i.id | safe}}" {% endfor %}; 
  
  $('#left-click').click(function() {    
      var thismonth    = $(".month th").first().text().split(" ")[0].trim();
      var currentyear  = $(".month th").first().text().split(" ")[1] ;
      $.CurrentMonth.m = monthMapper.indexOf(thismonth) +1;            
      var currentMonthString = $.CurrentMonth.m.toString();
      $.ajax({
          url: String("/"+ contractorID +"/"+ currentyear +"/"+ currentMonthString ),           
          method: 'GET',
          data: {
              currentyear: currentyear, 
              currentmonth: currentMonthString,
              id: contractorID,
          },
          success: function (data) {        
              if(data != 'None' && data != ""){
                  $(".month").replaceWith(data);
                 // $.CurrentMonth.m = monthMapper.indexOf(thismonth) +1;
              }                                      
          }
      });
  });

  $('#right-click').click(function() {    
      var thismonth    = $(".month th").first().text().split(" ")[0].trim();
      var currentyear  = $(".month th").first().text().split(" ")[1] ;
      $.CurrentMonth.m = monthMapper.indexOf(thismonth) +1;
      var currentMonthString = $.CurrentMonth.m.toString();
      $.ajax({
          url: String("/"+ contractorID +"/"+ currentMonthString + "/" + currentyear ),
          method: 'GET', 
          data: {
              currentyear: currentyear,               
              currentmonth: currentMonthString,
              id: contractorID,
          },
          success: function (data) {        
              if (data != 'None' && data != ""){
                  $(".month").replaceWith(data);
                 // $.CurrentMonth.m = monthMapper.indexOf(thismonth) +1;
              }            
          }
      });
  });

});
</script>
{% endblock %}
