{% extends "base.html" %}
{% block extra-meta %}
{% load zipcode_extras %}
<meta name="keywords" content="at home services,{% for i in testimonials %} {{i.hashtags | remove_hashtags }} {% endfor %}">
<meta name="description" content="{% for i in testimonials %} {{i.customer_testimonial }} {% endfor %}  ">
{% endblock %}
{% block title %}{% for i in con %}{{i.firstname|title}} {{i.lastname|title}} Schedule{% endfor %}{% endblock %}
{% load staticfiles %}

{% block extra-css%}
<link rel="stylesheet" type="text/css" href="{% static 'zipcode/js/jquery-timepicker-master/jquery.timepicker.css' %}"/>
{% endblock %}

{% block nav %}
<div class="header">
    <div>
        {% if time_image == 'day'%}
            <img class="home-header" src="{% static 'zipcode/images/headers/SLCDay1920.jpg' %}">
        {% elif  time_image == 'night'%}
            <img class="home-header" src="{% static 'zipcode/images/headers/SLCNight1920.jpg' %}">
        {% endif %}
    </div>
</div>

<nav class="navbar navbar-default">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class="active" href="/">Home</a></li>
        <li><a href="value">Value Care</a></li>
        <li><a href="careers">Careers</a></li>
        <li><a href="gallery">Gallery</a></li>   
      </ul>     
    </div><!-- /.navbar-collapse -->
</nav>
{% endblock %}
{% block content %}
{% load cropping %}
{%  for i in con %}
<div id="wrapper">
    <div id="sidebar-wrapper" class="hidden-xs hidden-sm" >
        <h3 id="schedule">MY SKILLS</h3>
        <h4>{{ i.trade }}</h4>
        <h4>{{ i.secondaryTrades }}</h4>
    </div>
    <div id="sidebar-ad" class="hidden-xs hidden-sm" >
        <h3>HAVE AN EMERGENCY?</h3>
        <H5>Call us directly at</H5>
        <H3>801-933-4663</H3>
    </div>
    <div id="page-content-wrapper">
        <div class="page-content">
			<div class="row container first-row-content-mobile">
				<div class="row">
					<div class="col-lg-6">
						<img class="profile-pic" src="{% cropped_thumbnail i "cropping" %}">
						<h2 class="profile-name">{{ i.firstname | capfirst}} {{ i.lastname | capfirst }}, {{ i.trade | capfirst}}</h2>
					</div>
					<div class="col-lg-6">
						<img class="home-header" src="{% static 'zipcode/images/logo.jpg' %}">
						<p class="contractor-bio">{{ i.bio }}</p>
					</div>
				</div>
        <div class="row">
          <div class="span12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h2 class="monthly">{{ i.firstname | capfirst }}'s Monthly Special</h2>
          </div>
        </div>
        <div class="row gallery-contractor-detail ">
              <ul class="monthly-specials-list">
              {% for i in monthly_specials %}
                <li>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">    
                    <a href="{{ i.id }}/monthly-specials/{{ i.special_url }}">
                      <img class="monthly-specials-img" alt="{{i.special_pic_alt_text}}" src="/media/{{ i.special_pic }}">  
                    </a>
                    <h2 class="monthly-specials-text" style="background-color:#{{ i.special_color}}; color: #{{ i.special_text_color}}">{{ i.special_text }}</h2>
                  </div>
                </li>
              {% endfor %}
              </ul>
            </div>
            
            <div class="row">
              <div class="col-lg-12">
                <h1 class="contractor-calendar-name monthly">{{ i.firstname | capfirst}}'s Calendar</h1>
                  <!--<div class="btn-group contractor-calendar-buttons" role="group" aria-label="...">
                    <button type="button" id="left-click" class="btn btn-default">
                      <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    </button>
                    <button type="button" id="right-click" class="btn btn-default">
                      <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                    </button>
                  </div>-->
                  <div>
                    <span id="nomonth"></span>
                  </div>                      
                    {{ htmlcalendar | safe}} 
              </div>
            </div>
            
            <div class="row">
              <div class="col-lg-2 col-md-2 hidden-sm hidden-xs"></div>
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 calendar-legend">
                 <span class="unavilable-square "></span><h2>Unavailable</h2>
                 <span class="available-square "></span><h2>Available</h2>
                 <span class="appointents">*Appointments are scheduled in a 2 hour minimum block.</span>
              </div>
              <div class="col-lg-2 col-md-2 hidden-sm hidden-xs"></div>
            </div>
           <div class="row event-popup">
              <div class="col-lg-4 col-md-4 hidden-sm hidden-xs"></div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="event-day-header"><h2>Wednesday 22nd</h2>
              </div>
<!--                <div class="col-time"><h3>9M</h3></div><div class="availablity-block"></div>
                <div class="col-time-spacer"></div><div class="availablity-block"></div>
                <div class="col-time"><h3>11AM</h3></div><div class="availablity-block"></div>
                <div class="col-time-spacer"></div><div class="availablity-block"></div>
                <div class="col-time"><h3>1PM</h3></div><div class="availablity-block"></div>
                <div class="col-time-spacer"></div><div class="availablity-block"></div>
                <div class="col-time"><h3>3PM</h3></div><div class="availablity-block"></div>
                <div class="col-time-spacer"></div><div class="availablity-block"></div>
                <div class="col-time"><h3>5PM</h3></div><div class="availablity-block"></div>
                <div class="col-time-spacer"></div><div class="availablity-block"></div>
 -->             </div>
              <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
              </div>
            </div>
            <div class="schedule-form"></div>
            <div class="customer-form"></div>

              
			</div>
		</div>
	</div>
{% endfor %}
<div class="row container">
    <div class="row">
        <h1 class="monthly">Testimonials</h1>    
    </div>
    {% for i in testimonials %}
        {% if forloop.first %}
          <div class="row">
            <div>
                <img src="/media/{{i.job_pic}}" alt="job pic" height="200" width="200">
            </div>
            
            <div>
                <a href="{{i.job_pic_url}}">view source...</a>
            </div>

            <div>
                <span class="hashtags">{{i.hashtags}}</span>
            </div>
            
            <div>
                <span class="socialtags">{{i.socialtags}}</span>
            </div>

            <div class="col-lg-6 testimonials">
                <p>{{ i.customer_testimonial }}
                <BR><BR>-{{ i.customer_name }} from {{ i.customer_city }} on {{ i.customer_date }}</p>
            </div>
          {% else %}
             <div>
                <img src="/media/{{i.job_pic}}" alt="job pic" height="200" width="200">
            </div>
            
            <div>
                <a href="{{i.job_pic_url}}">view source...</a>
            </div>

            <div>
                <span class="hashtags">{{i.hashtags}}</span>
            </div>
            
            <div>
                <span class="socialtags">{{i.socialtags}}</span>
            </div>

            <div class="col-lg-6 testimonials">
                <p>{{ i.customer_testimonial }}
                <BR><BR>-{{ i.customer_name }} from {{ i.customer_city }} on {{ i.customer_date }}</p>
            </div>                 

        {% endif %}
        </div>
    {% endfor %}
    <div>
      <form id="testimonial-form" action="/testimonial_post/{% for i in con %}{{i.id}}{% endfor %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ testimonial_form }}
        <input type="submit" id="testimonial-submit"value="Submit" />
      </form>
    </div>

</div>
{% endblock %}

{% block extra-javascript %}
<script src="{% static 'zipcode/js/unslider.js' %}"></script>
<script src="{% static 'zipcode/js/jquery-timepicker-master/jquery.timepicker.js' %}"></script>
<script type="text/javascript">
$( document ).ready(function() {
 
  function cal_time_format(s) {
      s = s.split(':').splice(0,2).join(':');
      if (s[0] == "0" ) {
        s = s.substr(1);
      }
      var h = parseInt(s.split(':')[0]);
      
      if (s == ":00") {
        return "12:00 AM"
      }

      if (h >= 13) {
        s = s.split(':');
        s[0] = h - 12;
        s = s.join(':');
      }
      
      if (h <= 11) {
        s = s + " AM";
      } else {
        s = s + " PM";
      }
      return s;
  }
  
  function add_zeros_to_minutes(m) {
      if (m < 10) {
          m = "0" + m;
      }
      return m;
  }
  
  function is_even(v) {
      if (v.indexOf(':') > -1) {
          var val = v.split(":")[0];
      } else {
          var val = v;
      }
      if (val % 2 != 0) {
          return v;        
      } 
  }
  
  function ordinal_suffix_of(i) {
      var j = i % 10,
          k = i % 100;
      if (j == 1 && k != 11) {
          return i + "st";
      }
      if (j == 2 && k != 12) {
          return i + "nd";
      }
      if (j == 3 && k != 13) {
          return i + "rd";
      }
      return i + "th";
  }
  
  function toObject(names, values) {
      var result = {};
      for (var i = 0; i < names.length; i++)
          result[names[i]] = values[i];
      return result;
  }



  $(function() {
       $('.gallery-contractor-detail').unslider({
          speed: 2000,               //  The speed to animate each slide (in milliseconds)
         delay: 3000,              //  The delay between slide animations (in milliseconds)
         complete: function() {},  //  A function that gets called after every slide animation
         keys: true,               //  Enable keyboard (left, right) arrow shortcuts
        // dots: true,               //  Display dot navigation
         fluid: false              //  Support responsive design. May break non-responsive designs
      });
    }); 

  var oldhead = $('.month th').first();
  $(oldhead).attr('colspan', '5');
  $(oldhead).before('<th colspan="2" class="month"><div class="btn-group contractor-calendar-buttons" role="group" aria-label="..."><button type="button" class="left-click" class="btn btn-default"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span></button><button type="button" class="right-click" class="btn btn-default">                          <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></button></div></th>');


  function getNewHeader() {
      var oldhead = $('.month th:eq(0)');
      $(oldhead).attr('colspan', '5');
      $(oldhead).before('<th colspan="2" class="month"><div class="btn-group contractor-calendar-buttons" role="group" aria-label="..."><button type="button" class="left-click" class="btn btn-default"><span class="glyphicon glyphicon glyphicon-triangle-left" aria-hidden="true"></span></button><button type="button" class="right-click" class="btn btn-default">                          <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></button></div></th>');

  }
  
  Date.prototype.addHours= function(h){
    this.setHours(this.getHours()+h);
    return this;
  }

;!(function ($) {
    $.fn.classes = function (callback) {
        var classes = [];
        $.each(this, function (i, v) {
            var splitClassName = v.className.split(/\s+/);
            for (var j in splitClassName) {
                var className = splitClassName[j];
                if (-1 === classes.indexOf(className)) {
                    classes.push(className);
                }
            }
        });
        if ('function' === typeof callback) {
            for (var i in classes) {
                callback(classes[i]);
            }
        }
        return classes;
    };
})(jQuery);
  $('.schedule-form').css('display', 'none');  
  $.Availability = new Object;
  $.Availability = {{ availability | safe }};
  $FullDayCells = {{ cal_man_cells | safe }};
  var display_start_time = cal_time_format( $.Availability[0].fields.prefered_starting_hours );
  var display_end_time   = cal_time_format( $.Availability[0].fields.prefered_ending_hours );
  var currentyear  = parseInt($(".month th:eq(1)").text().split(" ")[1]) ;
  var st = $.Availability[0].fields.prefered_starting_hours.split(':') ;
  var et = $.Availability[0].fields.prefered_ending_hours.split(':');
  var start_time = new Date(currentyear, 1, 1, st[0], st[1]);
  var end_time   = new Date(currentyear, 1, 1, et[0], et[1]);
  var hours_in_day = end_time.getHours() - start_time.getHours(); //8
  var ManagedHours = new Array;
  var hour = start_time.getHours();
  var minutes = start_time.getMinutes();
  var monthMapper = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]; 
  var dayMapper = {'mon': 'Monday', 'tue': 'Tuesday', 'wed': 'Wednesday', 'thu': 'Thursday', 'fri':'Friday', 'sat':'Saturday', 'sun':'Sunday'};
  $.CurrentMonth = new Object();
  $.CurrentDate = {};
  var contractorID ={% for i in con %} "{{i.id | safe}}" {% endfor %}; 
  var scedblo = [];
  var myDaysToReplace = [];


  for (var i = 0;i < hours_in_day; i++ ){
    ManagedHours[i] = hour + ":" + add_zeros_to_minutes(minutes);
    hour++;
  } 

  for (var i=0; i < ManagedHours.length ;i++) {
    ManagedHours[i] = cal_time_format(ManagedHours[i]);
  }  


  ManagedHours.push(display_end_time);
  //var updatedHours =  ManagedHours.filter(is_even);
  //updatedHours.reverse();
  var sb = "";

$.each(ManagedHours, function(i){
    sb = sb + '<div class="col-time"><h3>' 
    + ManagedHours[i] 
    + '</h3></div><button class="availablity-block"></button>'
    /* + '</div><div class="col-time-spacer">'
       + '</div><div class="availablity-block"></div>'*/;
    });

$('.event-day-header').after(sb); 

var starting_hour = start_time.getHours();

for (var i=0; i <= hours_in_day; i++) { //get times from availablity
  scedblo[i] = starting_hour 
    starting_hour++
}

scedblo.push( (end_time.getHours()+1) ); //add the last block 

$('.availablity-block').each(function(k,v) {
    $(this).addClass('schedule-block-time-'+ scedblo[k]);//add css to blocks
    });


// for full days add blue blocks
 
$.each($FullDayCells, function(k,v) {
    myDaysToReplace.push( $('td:not(.noday)').eq(v-1).prop('dayNumber', v) );
});

// removing markup on first loop breaks counter with eq hence the second each loops
$.each(myDaysToReplace, function(k,v) {
    $(this).empty().append($(this).prop('dayNumber')+'<div class="unavail-block"></div>');
});

$('body').on("click", ".left-click", function() {    
    var thismonth    = $(".month th:eq(1)").text().split(" ")[0].trim();
    var currentyear  = $(".month th:eq(1)").text().split(" ")[1] ;
    $.CurrentMonth.m = monthMapper.indexOf(thismonth) +1;            
    var currentMonthString = $.CurrentMonth.m.toString();

    if (currentMonthString == '1') {
        var fulldaycellsurl = String("/" + parseInt(currentyear)-1 + "/" + currentMonthString + "/" + contractorID); 
        var fulldaycell_currentyear = parseInt(currentyear) -1;
        var fulldaycell_currentmonth = currentMonthString;
    } else {
        var fulldaycell_currentyear = currentyear;
        var fulldaycell_currentmonth = parseInt(currentMonthString) -1;
        var fulldaycellsurl = String("/" + currentyear + "/" + fulldaycell_currentmonth + "/" + contractorID); 
    } 

    $.ajax({
            url: String("/"+ contractorID +"/"+ currentyear +"/"+ currentMonthString ),           
            method: 'GET',
            data: {
                    currentyear: currentyear, 
                    currentmonth: currentMonthString,
                    id: contractorID,
                  },
            success: function (data) {        
                if(data != 'None' && data != ""){
                    $(".month").replaceWith(data);
                    $("#nomonth").text("");
                    getNewHeader();
                }
                $.ajax({
                        url: fulldaycellsurl, 
                        method: 'GET',
                        data: {
                                 currentyear: fulldaycell_currentyear,
                                 currentmonth: fulldaycell_currentmonth,
                                 uid: contractorID,
                              },
                        success: function(results){
                            $FullDayCells = jQuery.parseJSON(results);
                            var myDaysToReplace = [];
                            /* for full days add blue blocks  */

                            $.each($FullDayCells, function(k,v) {
                                myDaysToReplace.push( $('td:not(.noday)').eq(v-1).prop('dayNumber', v) );
                            });

                            $.each(myDaysToReplace, function(k,v) {
                                $(this).empty().append($(this).prop('dayNumber')+'<div class="unavail-block"></div>');
                            });
                        },
                        error: function (jqXHR, error) {
                            var lastmonth = monthMapper.indexOf(thismonth) -1;
                            $("#nomonth").text("No events for "+ monthMapper[lastmonth] +" to display");
                        }
                });
            }
      });
  });

  $('body').on("click", ".right-click", function() {    
      var thismonth    = $(".month th:eq(1)").text().split(" ")[0].trim();
      var currentyear  = $(".month th:eq(1)").text().split(" ")[1] ;
      $.CurrentMonth.m = monthMapper.indexOf(thismonth) +1;
      var currentMonthString = $.CurrentMonth.m.toString();

      if (currentMonthString == '12') {
        var fulldaycell_currentyear = parseInt(currentyear);
        var fulldaycell_currentmonth = 1;
        var fulldaycellsurl = String("/" + parseInt(currentyear)+1 + "/" + '1' + "/" + contractorID); 
      } else {
        var fulldaycell_currentyear = currentyear;
        var fulldaycell_currentmonth = parseInt(currentMonthString) +1;
        var fulldaycellsurl = String("/" + currentyear + "/" + fulldaycell_currentmonth + "/" + contractorID); 
      } 

      $.ajax({
              url: String("/"+ contractorID +"/"+ currentMonthString + "/" + currentyear ),
              method: 'GET', 
              data: {
                      currentyear: currentyear,               
                      currentmonth: currentMonthString,
                      id: contractorID,
              },
              success: function (data) {        
                  if (data != 'None' && data != ""){
                      $(".month").replaceWith(data);
                      $("#nomonth").text("");
                      getNewHeader();
                  }        
              
                  $.ajax({
                        url: fulldaycellsurl, 
                        method: 'GET',
                        data: {
                                 currentyear: fulldaycell_currentyear,
                                 currentmonth: fulldaycell_currentmonth,
                                 uid: contractorID,
                              },
                        success: function(results){
                            $FullDayCells = jQuery.parseJSON(results);
                            var myDaysToReplace = [];
                            /* for full days add blue blocks  */

                            $.each($FullDayCells, function(k,v) {
                                myDaysToReplace.push( $('td:not(.noday)').eq(v-1).prop('dayNumber', v) );
                            });

                            $.each(myDaysToReplace, function(k,v) {
                                $(this).empty().append($(this).prop('dayNumber')+'<div class="unavail-block"></div>');
                            });
                        }
                 });
              }
          });
      });
/*
   $.Htags = [];
   $.Stags = [];
   var hashtags = $('.hashtags').text().split(', ');
   var socialtags = $('.socialtags').text().split(', ');

   $.each(hashtags, function (i,v) {
   $.Htags.push('<a href="' + v + '" class="hashtags">' + v + '</a>');
   })
   $.each(socialtags, function (i,v) {
   $.Stags.push('<a href="' + v + '" class="socialtags">' + v + '</a>');
   });    

   $('.hashtags').replaceWith($.Htags.join(', '));
   $('.socialtags').replaceWith($.Stags.join(', '));
   var ht = $('.hashtags').text().split('#');
   var st = $('.socialtags').text().split('@');
   $('[name="keywords"]').attr('content', function(i,oldval){return oldval + ht + st});
   var descrip = $('.description').text();
   $('[name="description"]').attr('content', function(i,oldval){return oldval + descrip });
 */

$(function() {
    $('body').on("click", "td:not(.noday)", function(){

      $('.availablity-block').css('background', '#f1f1f1').addClass('available').removeClass('unavailable');
      var calEvent = $(this).html().split(' ');
      var valEventList = calEvent.shift();
      var weekday = $(this).attr('class');
      var monthDate = $(this).text();
      var currentdate = monthDate.split(' ')[0];
      var mo = ordinal_suffix_of(currentdate);
      var ordinaldate = mo.trim();      

      if ($('.event-popup').hasClass('selected')) {
          $('.event-popup').fadeToggle().removeClass('selected');
      } else {
          $('.event-popup').fadeToggle().addClass('selected');
          $.each(dayMapper, function(k,v){    
              if ( k  == weekday) {
                  $('.event-day-header h2').text(v + ' the ' +  ordinaldate);
              }       
          });

      var contractorID = {%  for i in con %} "{{i.id | safe}}" {% endfor %}; 
      var thismonth    = $(".month th:eq(1)").text().split(" ")[0].trim();
      var currentyear  = $(".month th:eq(1)").text().split(" ")[1] ;
      $.CurrentMonth.m = monthMapper.indexOf(thismonth) +1;
      $.CurrentDate.month = monthMapper.indexOf(thismonth) +1;
      $.CurrentDate.day = monthDate.split(' ')[0];
      $.CurrentDate.year = currentyear;
      var currentMonthString = $.CurrentMonth.m.toString();
      var urlstring =  String("/cm/" + currentdate + "/"+ contractorID +"/"+ currentyear + "/" + currentMonthString)

        var schedule_block_keys = new Array;

      $('[class*="schedule-block-time-"]').each( function(k,v){
          schedule_block_keys[k] = v.attributes[0].nodeValue.split(' ')[1];
          }); 

      var schedule_block_times = new Array;
      var hour_counter = hours_in_day +1;

      for (var i=0; i <= hour_counter; i++) {
        var starting_time = new Date(currentyear, monthMapper.indexOf(thismonth) , currentdate,st[0], st[1] ); // make a new date and increment the hour
        schedule_block_times[i] = starting_time.addHours(i);
      }

      var block_mapper = toObject(schedule_block_keys,schedule_block_times);

      if ($(this).children().classes() == "unavail-block"){

         $.each(block_mapper, function(key,val) {
              $("."+key).css('background', '#2ebad1').addClass('unavailable').removeClass('available'); //mark unavilable as blue #2ebad1
        });
        return true;
      }

      $.ajax({
              url: urlstring, 
              method: 'GET', 
              data: {
              currentdate: currentdate,
              uid: contractorID,
              currentyear: currentyear,               
              currentmonth: currentMonthString
              },
              dataType: 'json',
              success: function (data) {        
                  if (data != 'None' && data != ""){ 
                      $.each(data, function(k,v) {
                    
                          $.each(block_mapper, function(key,val) {
                              if (v == parseInt(key.split('-')[3])){
                                  $("."+key).css('background', '#2ebad1').addClass('unavailable').removeClass('available'); //mark unavilable as blue #2ebad1
                              }

                          });
                      });
                     /* 
                      var blocks = new Object; 
                      $.each(data, function(k,v){
                          var start_time = new Date(parseInt(currentyear),parseInt(currentMonthString)-1,parseInt(currentdate),parseInt(v.fields.start_date.split('T')[1].split(':')[0])); 
                          var end_time   = new Date(parseInt(currentyear),parseInt(currentMonthString)-1,parseInt(currentdate, v.fields.end_date.split('T')[1].split(':')[0])); 
                          var block_length = end_time.getHours() - start_time.getHours();
                          var all_day = v.fields.all_day;
                          var real_start_date = new Date(v.fields.start_date.split('T')[0].split('-')[0],v.fields.start_date.split('T')[0].split('-')[1]-1,
                            v.fields.start_date.split('T')[0].split('-')[2],v.fields.start_date.split('T')[1].split(':')[0],v.fields.start_date.split('T')[1].split(':')[1]);
                          var real_end_date = new Date(v.fields.end_date.split('T')[0].split('-')[0],v.fields.end_date.split('T')[0].split('-')[1]-1,
                            v.fields.end_date.split('T')[0].split('-')[2],v.fields.end_date.split('T')[1].split(':')[0],v.fields.end_date.split('T')[1].split(':')[1]);

                          $.each(block_mapper, function(key,val) {
                              if (Number(start_time) == Number(val) ) {
                                  $("."+key).css('background', '#2ebad1').addClass('unavailable').removeClass('available'); //mark unavilable as blue #2ebad1
                                  blocks['start_time'] = start_time;
                              }

                              if (real_start_date.getDay() < real_end_date.getDay() && all_day ==true && Number(real_end_date) == Number(val) ) {
                                  var previous_hour = parseInt(key.split('schedule-block-time-')[1])-1;
                                  var new_key = 'schedule-block-time-' + previous_hour;
                                  blocks['end_time'] =  end_time;
                                  var start_block  =  blocks['start_time'].getHours(); 
                                  var end_day_block = [];

                                  for (var i = start_block; i <= previous_hour; i++ ){
                                      end_day_block.push('schedule-block-time-' + i)
                                  }
                                  for (var i = 0; i <= end_day_block.length; i++) {
                                      $('.' + end_day_block[i]).css('background', '#2ebad1').addClass('unavailable').removeClass('available');
                                  }
                                  return false;//break out of loop  
                              }

                              if ( Number(end_time) == Number(val) && all_day == true) {
                                  last_block = parseInt($('.availablity-block:last-child').classes()[1].split('schedule-block-time-')[1]);
                                  var start_block  =  blocks['start_time'].getHours(); 
                                  var all_day_block = [];
                                  for (var i = start_block; i <= last_block; i++ ){
                                    all_day_block.push('schedule-block-time-' + i)
                                  }
                                  for (var i = 0; i <= all_day_block.length; i++) {
                                    $('.' + all_day_block[i]).css('background', '#2ebad1').addClass('unavailable').removeClass('available');
                                  }
                                  return false;//break out of loop

                              } else if (Number(end_time) == Number(val) && all_day != true) { //take the endtime and subtract an hour color it in
                                  var previous_hour = parseInt(key.split('schedule-block-time-')[1])-1;
                                  var new_key = 'schedule-block-time-' + previous_hour;
                                  blocks['end_time'] =  end_time;

                                  //$("."+new_key).css('background', "#2ebad1");//mark avilable as grey #F5F5F5

                                  var start_block  =  blocks['start_time'].getHours(); 
                                  var end_day_block = [];

                                  for (var i = start_block; i <= previous_hour; i++ ){
                                    end_day_block.push('schedule-block-time-' + i)
                                  }
                                  for (var i = 0; i <= end_day_block.length; i++) {
                                    $('.' + end_day_block[i]).css('background', '#2ebad1').addClass('unavailable').removeClass('available');
                                  }
                                  return false;//break out of loop 
                              }
                          });
                      });*/
                  }        
              }
        }); //ajax
        }
    }); //onlick
      return false;
  }); 


  $('body').on("click", ".availablity-block", function() { 
      console.log('schedulin some stuff!!');
      console.log($.CurrentDate);
      var get = $.grep(this.className.split(' '), function(v,i) { return v.indexOf('schedule-block-time-') ===0;}).join();
      var hour = get.split('-')[3];
      var cid = {%  for i in con %} "{{i.id | safe}}" {% endfor %};
      var url = "/schedule/" + cid + "/" + $.CurrentDate.month + "/" + $.CurrentDate.day + "/" + $.CurrentDate.year + "/" + hour;
 
      $.get( url, {"id": cid, "month": $.CurrentDate.month, "day": $.CurrentDate.day, "year": $.CurrentDate.year, "hour": hour}, function(data) {

        if ($('.event-popup').hasClass('selected')) {
            $('.event-popup').fadeToggle(0).removeClass('selected');
        } else {
            $('.event-popup').fadeToggle(0).addClass('selected');
        }

        if ($('.schedule-form').hasClass('selected')) {
            $('.schedule-form').fadeToggle().removeClass('selected').css({'visibility':'hidden', 'display':'none'});
            $('.schedule-form').html('');
        } else {
            var button = '<button type="button" class="close schedule-close-btn" data-hide="alert">X</button>';
            $('.schedule-form').html(button + data );
            $('.schedule-form').fadeToggle().addClass('selected').css({'visibility':'visible','display':'block'});
        }
      });

  });   

  $("body").on("click",  ".schedule-close-btn", function(){
      $(this).parent().fadeToggle().removeClass('selected').css({'visibility': 'hidden', 'display': 'none'});
  });

 $("body").on("click",  ".no-phone-close", function(){
      $(this).parent().fadeToggle().removeClass('selected').css({'visibility': 'hidden', 'display': 'none'});
  });


//copied from https://docs.djangoproject.com/en/1.7/ref/contrib/csrf/
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function schedule_post() {
    var mydata = $('#schedule-form').serializeArray();
    $.ajax({
        url : "/schedule/" + {%  for i in con %} "{{i.id | safe}}" {% endfor %}, // the endpoint
        type : "POST", 
        data : { 
                  'firstname': {%  for i in con %} "{{i.id | safe}}" {% endfor %},
                  'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]').val(), 
                  'customer': $('#id_customer').val(),
                  'title': $('#id_title').val(),
                  'start_date_0': $('#id_start_date_0').val(),
                  'start_date_1': $('#id_start_date_1').val(),
                  'end_date_0': $('#id_end_date_0').val(),
                  'end_date_1': $('#id_end_date_1').val(),
                  'all_day': $('#id_all_day').is(':checked'),
                  'repair': $('#id_repair').is(':checked'),
                  'estimate': $('#id_estimate').is(':checked'),
                  'installation': $('#id_installation').is(':checked'),
                  'maintenance': $('#id_maintenance').is(':checked'),
                  'value_care': $('#id_value_care').is(':checked'),
                  'emergency': $('#id_emergency').is(':checked'),
                  'description': $('#id_description').val(),
                  'location': $('#id_location :selected').val(),
               }, // data sent with the post request
        success : function(json) {
                      if (json.error == "Customer matching query does not exist.") {
                          $('#schedule-post-text').html("<button class='close no-phone-close'>&times;</button>"+ 
                                                        "<div class='alert-box alert radius'"+
                                                        " data-hide>Oops! We don't know that phone number."+
                                                        " Maybe you mistyped it. Click Okay to join us.<br>"+
                                                        "<button type='button' class='okay-customer btn btn-default btn-warning'>Okay</button>"+ 
                                                        "</div>").css({"visibility":"visible", "display": "block"}); 
                          return true;
                      }
                      if (json.success == false) {
                          if (json.__all__[0].code.length > 0) { //bring feild with error into focus
                              var m = json.__all__[0].code 
                              $(m).focus()
                              var labelstring = m.split('#')[1];
                              $('[for="' + labelstring + '"]').before("<div class='error-message'>"+ json.__all__[0].message +"</div>")
                          } 
                      
                      } else {
                          $('#schedule-form').children().each( function(k, v) {
                              if (!$(this).is('label')) {
                                $(this).val('');
                              } 
                          });
                        
                          $('#schedule-submit').attr({"type": "button",
                                                      "class": "schedule-create-success-btn btn btn-lg btn-success",
                                                      "data-placement":"top", 
                                                      "data-toggle": "popover",
                                                      "data-trigger": "focus",
                                                      "title": "Success! You Have Joined Us.",
                                                      "role": "button", 
                                                      "data-content": "<div id='schedule-success-popover'><h2>Thanks "
                                                           + json.customer_name + "!</h2>" + 
                                                           "We sent you an email to: <b>"
                                                           + json.customer_email + "</b></br>" +  
                                                           " Please check your email  and make sure everything \
                                                           looks right. We'll send you another email as \
                                                           soon as the contractor approves it</div>",
                                                      "data-html": true
                                                      
                          });
                          $('#schedule-submit').popover('show');
                          $(function() {
                              setTimeout(function() {
                                  $('#schedule-submit').popover('hide');
                                  $('#schedule-submit').hide(500);
                                  $('.schedule-form').hide(500);
                              }, 5000);
                              
                          });
                      }
                },
           }).fail(function(xhr, errmsg, err){
                 $('#schedule-post-text').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+' '+err+
                 '<button class="close" data-dismiss="alert">&times;</button> </div>'); // add the error to the dom
                 console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    });    
};

function customer_post(){
    console.log("creatin' a user!");
    var mydata = $('#customer-create').serializeArray();
    console.log(mydata);
    $.post("/customer/", mydata, function(){
    }).done(function(){
        $('#customer-create-submit').attr({"type": "button", "class": "customer-back-to-previous-btn btn btn-lg btn-success",
                                           "data-placement":"top", "data-toggle": "popover",
                                           "title": "Success! You Have Joined Us.","role": "button", 
                                           "data-content": "Click here to go back to your Schedule Request and input your phone number"});
        $('#customer-create-submit').popover('show');
    }).fail(function(xhr, errmsg, err){
        console.log('failed');
        console.log("xhr:", xhr);
        console.log("errmsg:", errmsg);
        console.log("err:", err);
    });
}

  $('body').on('click', '.customer-back-to-previous-btn', function(event) {
      $('.customer-form').fadeToggle();
      $('.schedule-form').fadeToggle();
      if ( $("#id_phone_number").val() != "") {
          customer_phone_number = $("#id_phone_number").val();
          $("#id_customer").val(customer_phone_number);
      }
  });

  $('body').on('click', '.okay-customer', function(event) {
      $('#schedule-post-text').fadeToggle();
      $('.schedule-form').fadeToggle();
      $.get("/customer/", function(data){
          $('.customer-form').html(data);
      });
  });

  $('body').on('submit', '#customer-create', function(event) {
      if ( $("#customer-create").children(".error-message") ){
          $('.error-message').remove();
      }      
      event.preventDefault();
      customer_post();
  });

  $('body').on('submit', '#schedule-form', function(event) {
      if ( $("#schedule-form").children(".error-message") ){
          $('.error-message').remove();
      }      
      event.preventDefault();
      schedule_post();
  });

}); 
</script>
{% endblock %}
