<div class="blue-container">
    <div class="row">
        <div class="col-md-8">
        	{% load zipcode_extras %}
            {% show_contact_form %}
        </div>
        <div class="col-md-1">
            <a href="facebook.com/athomeservices">
                <i class="fa fa-facebook-official fa-5x"></i>    
            </a>
        </div>
        <div class="col-md-1">
            <a href="twitter.com/athomeservices">
                <i class="fa fa-twitter-square fa-5x"></i>
            </a>
        </div>
        <div class="col-md-1">
            <a href="instagram.com/athomeservices">
                <i class="fa fa-instagram fa-5x"></i>
            </a>
        </div>
        <div class="col-md-1">
            <a href="googleplus.com/athomeservices">
                <i class="fa fa-google-plus-square fa-5x"></i>
            </a>
        </div>
    </div>
</div>
