{% extends "base.html" %}

{%block extra-meta%} 
<meta name="keywords" content="at home services, contractors, finished jobs">
<meta name="description" content="">
{% endblock%}

{% load staticfiles %}
{% block extra-css %}
    <link rel="stylesheet" type="text/css" href="{% static 'zipcode/css/gallery.css' %}">
{% endblock %}
{% block title %}Image Gallery{% endblock %}

{% block nav %}

<div class="header">
    <div>
        {% if time_image == 'day'%}
            <img class="home-header" src="{% static 'zipcode/images/headers/SLCDay1920.jpg' %}">
        {% elif  time_image == 'night'%}
            <img class="home-header" src="{% static 'zipcode/images/headers/SLCNight1920.jpg' %}">
        {% endif %}
    </div>
</div>

<nav class="navbar navbar-default">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class="active" href="/">Home</a></li>
        <li><a href="value">Value Care</a></li>
        <li><a href="careers">Careers</a></li>
        <li><a href="gallery">Gallery</a></li>   
      </ul>     
    </div><!-- /.navbar-collapse -->
</nav>
{% endblock %}
{% block content %}
<div id="wrapper">
    <div id="sidebar-ad" class="hidden-xs hidden-sm">
        <h3>HAVE AN EMERGENCY?</h3>
        <H5>Call us directly at</H5>
        <H3>801-933-4663</H3>
    </div>
    <div id="page-content-wrapper">
        <div class="page-content">
			<h2 class="heading3">Images from our Contractors</h2>
			<div class="row container gallery-container">
				<div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gallery">  
                        <ul>
                        {% for i in gallery %}
                            <li><img class="gallery-pic" src="/media/{{i.testimonial.job_pic}}"></br>
                            {% if i.sourceURL %}
                                <a  class="view-source-image" href="{{i.testimonial.job_pic_url}}">view source...</a></br>
                            {%endif%}
                            <p class="description">{{i.caption}}</p>
                            <h3>Author: {{i.testimonial.customer.first_name}}</h3>
                            
                            {% if i.testimonial.hashtags %}
                                <span>Hashtags:</span>
                                <a href=""class="hashtags">{{ i.testimonial.hashtags }}</a></br>
                            {% endif %}
                            {% if i.testimonial.socialtags %} 
                               <span>Socialtags:</span>
                               <a href="" class="socialtags">{{ i.testimonial.socialtags }}</a></br>
                            {% endif  %}
                            <h5>Date: {{i.testimonial.customer_date}}</h5>
                            <a href="#" class="unslider-arrow prev"><span class="glyphicon glyphicon-chevron-left"></span>Previous slide</a>
                            <a href="#" class="unslider-arrow next"><span class="glyphicon glyphicon-chevron-right"></span>Next slide</a>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>    
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block extra-javascript %}
<script src="{% static 'zipcode/js/unslider.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('.gallery').unslider({
        speed: 2000,               //  The speed to animate each slide (in milliseconds)
        delay: 3000,              //  The delay between slide animations (in milliseconds)
        complete: function() {},  //  A function that gets called after every slide animation
        keys: true,               //  Enable keyboard (left, right) arrow shortcuts
        dots: true,               //  Display dot navigation
        fluid: false              //  Support responsive design. May break non-responsive designs
    });
    
   $('.unslider-arrow').click(function() {
        var fn = this.className.split(' ')[1];
        
        //  Either do unslider.data('unslider').next() or .prev() depending on the className
        $('.gallery').unslider().data('unslider')[fn]();
    }); 

   $.Htags = [];
   $.Stags = [];
   var hashtags = $('.hashtags').text().split(', ');
   var socialtags = $('.socialtags').text().split(', ');

   $.each(hashtags, function (i,v) {
        $.Htags.push('<a href="' + v + '" class="hashtags">' + v + '</a>');
    })
    $.each(socialtags, function (i,v) {
        $.Stags.push('<a href="' + v + '" class="socialtags">' + v + '</a>');
    });    

    $('.hashtags').replaceWith($.Htags.join(', '));
    $('.socialtags').replaceWith($.Stags.join(', '));
    var ht = $('.hashtags').text().split('#');
    var st = $('.socialtags').text().split('@');
    $('[name="keywords"]').attr('content', function(i,oldval){return oldval + ht + st});
    var descrip = $('.description').text();
    $('[name="description"]').attr('content', function(i,oldval){return oldval + descrip });
    $('.blue-container').css('right', '0em');
    
    var largestImageContainer = [];
    
    $('.gallery-pic').each(function(){
      var thisimage = $(this).height();
      largestImageContainer.push(thisimage);
    });

    $.each(largestImageContainer, function(k,v){
        var largest = v;
        if (typeof oldlargest === 'undefined') {
          var oldlargest =0;
        }
        if (largest > oldlargest) {
            oldlargest = largest;
        }
        if (k == largestImageContainer.length-1) {
          console.log('the largest image is:', oldlargest);
        }
    });
});
</script>
{% endblock %}
