{% load staticfiles %}
<div class="row">
	<div class ="col-lg-2"></div>
	<div class ="col-lg-8">
    {% if requested_event.errors %}
        <p style="color: red;">
            Please correct the error{{ requested_event.errors|pluralize }} below.
        </p>
    {% endif %}
		<form id="schedule-form" action="#" class="form-horizontal" enctype="multipart/form-data" method="post">
			{% csrf_token %}
      {{ requested_event }}
      <button type="submit" id="schedule-submit" value="Submit" class="btn btn-default">Submit</button>
			<!--<input type="submit" id="career-submit"value="Submit" /> -->
		</form>
	</div>
	<div class ="col-lg-2">
    <div id="schedule-post-text"></div> 
  </div>
</div>
<script src="{% static 'zipcode/js/jquery-timepicker-master/jquery.timepicker.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'zipcode/js/jquery-timepicker-master/jquery.timepicker.css' %}"/>

<script type="text/javascript">
$( document ).ready(function() {
  $('[for="id_firstname"]').remove();
	$("#id_start_date_1").before("<label for='id_start_date_1'>Start Time:</label>");

	$("#id_end_date_1").before("<label for='id_end_date_1'>End Time:</label>");
	
	$(function() {
		$( "#id_start_date_0" ).datepicker({firstDay: 1});
		$( "#id_end_date_0" ).datepicker({firstDay: 1});
		$( "#id_start_date_1" ).timepicker({step: 15, minTime: '6:00am',show2400: true, timeFormat: 'H:i'})	
		$( "#id_end_date_1"   ).timepicker({step: 15, minTime: '6:00am',show2400: true, timeFormat: 'H:i'})	
	});
});
</script>
