@blue: #2ebad1;
@pink: #ef3b70;
@yellow: #F9D907;
@green: #57B249;
@grey: #555;

.BoxShadowHelper(@level: 1){
    & when (@level = 1) {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    & when (@level = 2) {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 3) {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 4) {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    & when (@level = 5) {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
}

.error-message {
    margin: 0;
    padding: 0;
    color: red;
    position: relative;
    top: 2em;
    left: 3em;
}

#schedule-form input:focus { border-style: solid; border-color: red;}
.alert {
  background-color: red;
  width: 10em;
  color: white;
}

.schedule-btn { background: @yellow; color: black;}
.schedule-close-btn { position: relative; top: -1.5em; right: -1.5em;}
.schedule-form {
    background: lighten(@blue, 40%);
    width: 30em;
    padding: 3em;
    position: relative;
    top: -72em;
    left: 27em;
}

#schedule-form {
    width: 23em;
    right: 2em;
    position: relative;
}
#schedule-form label {
    text-align: left;
    clear: both;
    float: left;
    margin-right: 15px;
    width: 9em;
    position: relative;
    right: 3em;
    top: 2.7em;
}

#schedule-form input {
    text-align: left;
    margin-top: 1em;
    width: 20em;
    right: -3em;
    position: relative;
}

textarea#id_description {
    margin-top: 4em;
}
.contractor-calendar-buttons {
  margin-left: 0.7em;
  margin-bottom: 0.2em;
}

.unavail-block {
  width: 7em;
  height: 7em;
  background-color: #2ebad1;
  border-radius: 0.5em;
  margin: 0.5em;
  .BoxShadowHelper(1);
}

button.left-click {
  height: 0.95em;
  width: 1.25em;
  margin-top: 0.3em;
  position: relative;
  top: 0.2em;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  transition: all 250ms;
  .BoxShadowHelper(4);
    &:hover {
      .BoxShadowHelper(3);
      -webkit-transform: translateY(-3px);
      -moz-transform: translateY(-3px);
      transform: translateY(-3px);
  }
}
button.right-click {
  height: 0.95em;
  width: 1.25em;
  margin-top: 0.3em;
  position: relative;
  top: 0.2em;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  transition: all 250ms;
  .BoxShadowHelper(4);
    &:hover {
      .BoxShadowHelper(3);
      -webkit-transform: translateY(-3px);
      -moz-transform: translateY(-3px);
      transform: translateY(-3px);
  }
}

.event-popup {
  .BoxShadowHelper(5);
  width:  24em;
  position: relative;
  top: -72em;
  left: 30em;
  background-color: white;
  display: none;
}
.availablity-block {
  background: lighten(@grey,61%);
  width: 13em;
  height: 2.5em;
  /* float: right; */
  position: relative;
}
.availability-block:nth-child(odd) {
  margin-bottom: 0em;
}
.availability-block:nth-child(even) {
  margin-bottom: 0.5em;
}
.availablity-block:last-of-type {
  margin-bottom: 1em;
}
.availability-block:first-of-type {
  margin-top: 1em;
}
.col-time {
  height: 2em;
  width: 6em;
  padding: 0em;
  margin-top: -3em;
  right: 8em;
  top: 2em;
  position: relative;
}
.col-time h3 {
  padding: 0.5em;
  width: 6em;
  right: 0.5em;
  position: relative;
}
.col-time-spacer {
  height: 1em;
  width: 6em;
  position: relative;
  /* background-color: red; */
  /* margin-top: 0em; */
  /* margin-bottom: -4em; */
  right: 7em;
}
.event-day-header h2 {
  background-color: #555;
  padding: 1em;
  margin: 0em;
  color: white;
  text-align: center;
  width: 11.2em;
  position: relative;
  right: 4.22em;
}
span.glyphicon.glyphicon-triangle-left {
  color: @grey !important;
  font-size: 0.5em;
  transform: scale(2,1);
  position: relative;
  top: -0.8em;
  margin-left: 0.2em;
}
span.glyphicon.glyphicon-triangle-right {
  color: @grey !important;
  font-size: 0.5em;
  transform: scale(2,1);
  position: relative;
  top: -0.8em;
  margin-left: 0.2em;
}
.calendar-legend {
  background-color: grey;
  color: #fff;
  position: relative;
  width: 57.2em;
  right: 0.7em;
}
.unavilable-square {
  background-color: #2ebad1;
  height: 3em;
  width: 3em;
  float: left;
  margin: 1em;
  position: relative;
  top: 0.5em;
  -moz-box-shadow: 0px 1px 1.5px transparent, 0px 3px 3px #333, 0px 10px 10px transparent, 0px 14px 14px transparent, 0px 19px 19px transparent;
  -webkit-box-shadow: 0px 1px 1.5px transparent, 0px 3px 3px #333, 0px 10px 10px transparent, 0px 14px 14px transparent, 0px 19px 19px transparent;
  box-shadow: 0px 1px 1.5px transparent, 0px 3px 3px #333, 0px 10px 10px transparent, 0px 14px 14px transparent, 0px 19px 19px transparent;
}
.available-square {
  background-color: lighten(@grey, 61%);
  height: 3em;
  width: 3em;
  float: left;
  margin: 1em;
  position: relative;
  top: 0.5em;
  -moz-box-shadow: 0px 1px 1.5px transparent, 0px 3px 3px #333, 0px 10px 10px transparent, 0px 14px 14px transparent, 0px 19px 19px transparent;
  -webkit-box-shadow: 0px 1px 1.5px transparent, 0px 3px 3px #333, 0px 10px 10px transparent, 0px 14px 14px transparent, 0px 19px 19px transparent;
  box-shadow: 0px 1px 1.5px transparent, 0px 3px 3px #333, 0px 10px 10px transparent, 0px 14px 14px transparent, 0px 19px 19px transparent;
}
.calendar-legend h2 {
  float: left;
  margin-top: 1em;
  margin-bottom: 1em;
}
span.appointents {
  position: relative;
  top: 5em;
  width: 22em;
  right: -2em;
  margin-left: -2.5em;
}

table.month {
    position: relative;
    text-decoration: none !important;
    color: black !important;
    table-layout: fixed;
    width: 100%;
    max-width: 800px;
    margin: auto;
}
/* Mini Calendar Styles */
.calendar-mini {
    max-width: 480px;
}
.calendar-mini td {
    padding-bottom: 0px;
    height: inherit;
    background: #fff;
}
.calendar-mini .td-inner {
    position: relative;
    overflow: visible;
    margin-bottom: 32px;
}
.calendar-mini > table > tbody > tr > td > a {
    position: relative;
    bottom: 16px;
}
.calendar-mini .calendar-event {
    position: absolute;
    margin: 0px;
    width: auto;
    top: 15px;
    left: 16px;
    border-radius: 20px;
    padding: 9px;
}
/* End Mini Calendar Styles */

#event-calendar {
    margin-bottom: 20px;
}
table.month > tr {
    background: #fff;
    height: 20px;
}
table.month tr {
    background: #fff;
}
table.month th {
    text-align: left;
    font-size: 2em;
    font-weight: 100;
}
th.month {
    padding: 5px;
    background: #ccc;
    color: white;
}
table.month td:nth-child(odd) {
  background-color: lighten(@blue, 47%);
}

td.noday:nth-child(odd) {
  background: lighten(@blue, 35%)!important;
}
td.noday:nth-child(even) {
  background: lighten(@blue, 40%)!important;
}
.month-arrow-left, .month-arrow-right {
    border: 1px solid #eee;
    background: #fff;
}
.td-inner {
    overflow: auto;
    margin-bottom: 40px;
    position: relative;
}
.td-inner > a {
    color: #000;
    text-decoration: underline;
}
table.month td {
    text-align: left;
    overflow: hidden;
    vertical-align: top;
    background-color: #fff;
    height: 7em;
    max-height: 7em;
}
.calendar-event {
    width: 100px;
    margin-left: 3px;
    margin: 5px;
    font-size: 0.8em;
    background: #eee;
    padding: 3px;
    cursor: pointer;
}
.calendar-today {
    background: #acf !important;
}
.event-anch {
    text-decoration: none !important;
}

.calendar-list {
    padding: 0px;
    max-width: 450px;
}

.month-event-title {
    display: inline;
}
.month-event {
    border: 1px solid black;
    list-style-type: none;
    margin: 5px;
}
.date-widget {
    display: inline-block;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
}
.popover-title {
    font-weight: bold;
}
