@import url(http://fonts.googleapis.com/css?family=Open+Sans);
a,p,h1,h2,h3,h4,h5,h6,ul,li,input,select,textarea {font-family: 'Open Sans', sans-serif;}
.home-header {width: 100%;}
.navbar { border: 0px solid transparent; }
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	/* border-color: #e7e7e7; */
	background-color: #2ebad1;
	height: 6em !important;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
	color: #fff !important;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar .navbar-collapse {text-align: center;}

.container {  float: none; margin: 0 auto;font-family: arial;}

.repair-boxes {width: 10em; margin: auto; float: right;}

div#repair-boxes { margin-top: 2em;}

.monthly {color: #2ebad1; font-size: 4em; float: none; margin: 1em 0; text-align: center;}

#gdoor {width: 100%;margin-bottom: 0;}

.all-gdoors { 
	height: 2em;
	text-align: center; 
	background-color: #777; 
	color: white; font-size: 3em; 
	padding: 0.5em;
	margin-top: -1em;
	margin-bottom: 1em;
}
.heading3 {color: #2ebad1; font-size: 2em; text-align: center; font-weight: bold;margin:1em;}
#heading3 {color: #2ebad1; font-size: 2em; text-align: center; font-weight: bold;margin:1em;}
#heading4 {color: white; font-size: 2em; text-align: center; font-weight: bold; margin-top: 3em;margin-bottom: 1.5em;}
.athomeserv {text-align: justify;line-height: 1.5em;font-size: 1.5em;}
#smiles {width: 100%}
#printable {width:100%;}
#phone {text-align: center;font-size: 7em;}

.service-row {margin-top: 4em;}
.service-links a{color: white; font-size: x-large;}
#someofour {text-align: justify;line-height: 1.7em;font-size: 1.7em;}
.blue-container { background-color: #2ebad1; color: white;width: 115.7%;}
.blue-container2 {background-color: #2ebad1; color: white;width: 115.7%; height: 43em;}
.testimonials {
  margin-top: 3em;
  margin-bottom: 2em;
  margin-right: 2em;
  text-align: justify;
  margin-left: 2em;
  width: 37em;
}

.home-testimonials {margin-bottom: 2em;}
.test_customer_name{}
.test_customer_city{}
.test_contractor {}
.test_testimonial {}

#wrapper {
  padding-right: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-top: 2em;
  margin-right: -15em;
  right: 18em;
  width: 16em;
  background: #ef3b70;
  position: absolute;
  height: 21em;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  color: white;
  padding: 2em;
  box-shadow: 1px 3px 3px #777;
  text-align: center;
}

#sidebar-ad {
  margin-top: 25em;
  margin-right: -15em;
  right: 18em;
  width: 16em;
  background: #ef3b70;
  position: absolute;
  height: 21em;
  overflow-y: auto;
  z-index: 999;
  transition: all 0.4s ease 0s;
  color: white;
  padding: 2em;
  box-shadow: 1px 3px 3px #777;
  text-align: center;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#schedule {font-weight: bold; font-size: 1.5em;}

#id_zipsearch {width: 11em; margin-bottom: 1em;}
#search_submit {color: #fff; background-color: #2ebad1; }
#id_firstName {margin: 0.5em; width: 24em;}
#id_address {margin: 0.5em; width: 24em;}
#id_sender {margin: 0.5em; width: 24em;}
#id_problem {margin: 0.5em; width: 24em;}
textarea:focus, input:focus {
    color: #000;
}
mark {background-color: #DEE !important;}
input, select, textarea{ color: #000; border: none;}

.profile-pic {margin: 1em; max-height: 12em;}
.profile-name{height: 2em;
text-align: center;
background-color: #777;
color: white;
padding: 0.5em;
margin-bottom: 1em;}

#schedule-form { width: 300px}
#schedule-form label {
    /* Other styling.. */
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}
#schedule-form input {
	text-align: left;
	margin-top: 1em;
}

.errorlist li {color:red}

img.admin_img_preview {max-height: 20em;}

div.row.container { margin-left: 13em !important;}

#contact_us {margin-left: 2em;}
#contact-form label { display: inline-block; width: 140px; text-align: left; width:6.8em; margin-bottom: 2em;}
#contact-form form input {display: inline-block; float: right;}
#contact-submit {margin-left: 20.3em; background-color: #ef3b70 !important;}
#contact-form {width: 18em; margin-left: 2em;}

.contractor-calendar-buttons {margin-left: 27em;}
#left-click {margin: 1em;}
#right-click {margin: 1em;}

/*@media (max-width:767px) {

    #wrapper {
      padding-right: 0;
    }

    #sidebar-wrapper {
      right: 0;
    }

    #wrapper.active {
      position: relative;
      right: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      right: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }
}*/
/*
@media screen (max-width: 1671px) and (min-width: 1296px) {
    .navbar>li>a {
      width: 7em !important;
      margin-right: 5em !important;
      margin-left: 5em !important;
      font-size: large !important;
    }
}
*/
@media (max-width: 863px) and (min-width: 768px) {
    .navbar-default .navbar-nav > li > a {
      font-size: large;
      margin: 0.1em;
      margin-left: 1em;
      margin-right: 1em;
    }

}

@media (max-width: 1150px) and (min-width: 864px) {
    .navbar-default .navbar-nav > li > a {
      font-size: large;
      margin: 0.3em;
      margin-left: 3em;
      margin-right: 3em;
    }

}


@media (max-width: 1445px) and (min-width: 1151px) {
    .navbar-default .navbar-nav > li > a {
      font-size: large;
      margin: 0.4em;
      margin-left: 4em;
      margin-right: 4em;
    }
}


@media (max-width: 1671px) and (min-width: 1446px) {
    .navbar-default .navbar-nav > li > a {
      font-size: large;
      margin: 0.5em;
      margin-left: 5em;
      margin-right: 5em;
    }
}

@media (min-width: 1672px) and (max-width: 1855px) {
    .navbar-default .navbar-nav > li > a {
      font-size: x-large;
      margin: 0.5em;
      margin-left: 6em;
      margin-right: 6em;
    }
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/*@media (min-width: @screen-sm-min) {  } */

/* Medium devices (desktops, 992px and up) */
/*@media (min-width: @screen-md-min) {  }*/

/* Large devices (large desktops, 1200px and up) */
/*@media (min-width: @screen-lg-min) { }/*

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {



  /* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
  

}

/* iPhone 4 - 5s ----------- */
/*
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

}
*/
/* iPhone 6 ----------- */
/*
@media
only screen and (max-device-width: 667px) 
only screen and (-webkit-device-pixel-ratio: 2) {
  
}
*/
/* iPhone 6+ ----------- */
/*
@media
only screen and (min-device-width : 414px) 
only screen and (-webkit-device-pixel-ratio: 3) {
  //You've spent way too much on a phone
}
*/

